@media screen and (max-width:800px) {
    html, body {
        display: flex;
        width: 355px;
        height:auto;        
    }
    * {
        box-sizing: border-box;
    }
    .container {
        display: flex;
        width: 355px;
        height:auto;
        box-sizing: border-box;
    }   

    .todos-wrapper {
        background: white;
        width: 360px;
        height: auto;
        display: flex;
        transform: scale(0.8);
        flex-flow: column; 
        justify-content: center;
        align-items: center;
        padding-top: 5px;
        margin-left: 0;
        position: relative;
        top: 200px;

    }
    .todo-item {
        display: flex;
        width: 350px;
        height: 30px;
        border: 1px solid black;
        justify-content: end;       
        left: 0px;
        border-radius: 5px;
        padding: 0;
        padding-left: 5px;
        padding-top: 5px;
        background-color: rgb(130, 162, 126);  
    }
    .todo-item.checked {
        background-color: rgb(8, 8, 8);
        text-decoration-line: line-through;
        color: black;
    }
    .description {
        width: 330px;
        height: 30px;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        color: rgb(254, 253, 253);
        text-shadow: rgb(10, 10, 10) 1px 1px;
    }
    .flex-wrapper {
        top: 100px;
        width: 355px;
        height: 200px;
        position:fixed;
        margin-left: 0;   
        background: white;  
    }
    .flex2 {
   
        display: none;

    }
    
    h1 {
        width: 355px;
        position:fixed;
        top: 0px;

    }
    h2 {
        width: 355px;
        position:fixed;
        top: 100px;
        left: 40%;

    }
    .add-todo-wrapper {
        object-fit: contain;
        position:fixed;
        top: 70px;
        width: 300px;
        height: 40px;
        background-color: rgb(138, 189, 255);
        border-radius: 5px;
    }
    .input-wrapper {
        width:auto;
        height:auto;
        transform: scale(1.1);
    }

    .input-wrapper input {
        width:auto;
        height:auto;
        border-radius: 4px;
    }
    .buttons {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
       
    }
    .btn-comlete {
        margin: 20px;
        transform: scale(2);
        outline-offset: 2px;
        display: flex;
        align-items: center;
        text-align: center;       
    }
    .btn-delete {
        
        margin: 20px;   
        outline-offset: 2px;
        display: flex;
        align-items: center;
        text-align: center;
    
    }
    .button-wrapper {
        width: 170px;
        height:auto;
        display: flex;
        justify-content: flex-end;
        
    }
    
    
   
    
}